<div class="container footer" id="footer-container">
    <!-- 用图片来美化一下分割线 -->
    <hr class="fengexian">
    <div class="sponsors-list row">
        <a href="https://www.dsm.com">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/thumb/0/09/T--TU-Eindhoven--Sponsor_DSM.png/320px-T--TU-Eindhoven--Sponsor_DSM.png">
        </a>
        <a href="https://eu.idtdna.com/pages">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/thumb/6/63/T--TU-Eindhoven--Sponsor_IDT.png/320px-T--TU-Eindhoven--Sponsor_IDT.png">
        </a>
        <a href="https://www.hansaplast.com/">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/1/1c/T--TU-Eindhoven--Sponsor_Hansaplast.png">
        </a>
        <a href="http://www.pamm.nl/">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/1/10/T--TU-Eindhoven--Sponsor_PAMM.png">
        </a>
        <a href="https://www.pharmacosmos.com/">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/thumb/0/05/T--TU-Eindhoven--Sponsor_Pharmacosmos.png/240px-T--TU-Eindhoven--Sponsor_Pharmacosmos.png.jpeg">
        </a>
        <a href="https://www.rivm.nl/" data-toggle="tooltip" title="National Institute for Public Health and the Environment">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/7/73/T--TU-Eindhoven--Sponsor_RIVM.png">
        </a>
        <a href="https://www.tue.nl/en/research/research-labs/institute-for-complex-molecular-systems-laboratory/">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/d/d5/T--TU-Eindhoven--Sponsor_ICSM.jpg">
        </a>
        <a href="https://www.tue.nl/">
            <img class="sponsoren" src="http://2018.igem.org/wiki/images/b/be/T--TU-Eindhoven--Sponsor_TUe.jpg">
        </a>
    </div>
    <div class="neat row contactus">
        <div class="col-xs-6 col-lg-2" style="background-color: #9540FF"></div>
        <div class="col-xs-6 col-lg-2" style="background-color: #E841A0"></div>
        <div class="col-xs-12 col-lg-4" style="background-color: #FF8054">
            <a href="mailto:igem@tue.nl">
                <img src="http://2018.igem.org/wiki/images/4/47/T--TU-Eindhoven--mail.png"><span>&nbsp;igem@tue.nl</span>
            </a>
            <a href="https://www.facebook.com/iGEMTUEindhoven">
                <img src="http://2018.igem.org/wiki/images/e/e7/T--TU-Eindhoven--facebook.png"><span>&nbsp;iGEMTUEindhoven</span>
            </a>
        </div>
        <div class="col-xs-6 col-lg-2" style="background-color: #E8AD41"></div>
        <div class="col-xs-6 col-lg-2" style="background-color: #FFF444"></div>
        
    </div>
</div>