<html>
<!-- remove when upload -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- remove when upload -->
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>

<!-- keep internal styles and scripts above templates -->
<style id="menustyle" type="text/css">
</style>
<script id="menuscript" type="text/javascript">
</script>

<!-- CHANGE to template when upload -->
<!-- 
</html>
{{:Team:TU-Eindhoven/TUeStyle}}
{{:Team:TU-Eindhoven/flexboxgrid2}}
<html>
 -->
<link rel="stylesheet" type="text/css" href="style.css">
<!-- <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.1.0/flexboxgrid2.css"> -->
<link rel="stylesheet" type="text/css" href="../venders/css/flexboxgrid2.css">

<script src="TUeScript.js"></script>

<div class="row" id="nav-container">
    <!-- Navigation bar -->
    <div class="nav-bar">
        <ul class="normal-menu">
            <li style="margin:5px 30px;float:left;">
                <a class="logo-a" href="http://2018.igem.org/Team:TU-Eindhoven">
                    <img src="../images/LogoSimple500x500.png" alt="TUe logo" style="max-height:60px">
                </a>
            </li>
            <!-- Project -->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">PROJECT</a>
                <div class="dropdown-content">
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Description">Description</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Design">Design</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Experiments">Experiments</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Notebook">Notebook</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/InterLab">InterLab</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Model">Model</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Results">Results</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Demonstrate">Demonstrate</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Improve">Improve</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Attributions">Attributions</a>
                </div>
            </li>
            <!-- Team -->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">TEAM</a>
                <div class="dropdown-content">
                <a href='http://2018.igem.org/Team:TU-Eindhoven/Team'>Team Members</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Collaborations">Collaborations</a>
                </div>
            </li>
            <!-- Parts -->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">PARTS</a>
                <div class="dropdown-content">
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Parts">Parts Overview</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Basic_Part">Basic Parts</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Composite_Part">Composite Parts</a>
                </div>
            </li>
            <!-- Safety -->
            <li class="dropdown">
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Safety" class="dropbtn">SAFETY</a>
            </li>
            <!-- Human Practice -->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">HUMAN PRACTICE</a>
                <div class="dropdown-content">
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Human_Practices">Human Practices</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Public_Engagement">Education &amp; Engagement</a>
                </div>
            </li>
            <!-- Awards -->
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">AWARDS</a>
                <div class="dropdown-content">
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Applied_Design">Applied Design</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Entrepreneurship">Entrepreneurship</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Hardware">Hardware</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Measurement">Measurement</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Model">Model</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Plant">Plant</a>
                <a href="http://2018.igem.org/Team:TU-Eindhoven/Software">Software</a>
                <a href="http://igem.org/2018_Judging_Form?team=TU-Eindhoven" class="dropbtn">JUDGING FORM ⇗</a>
                </div>
            </li>
            <!-- Mobile Menu -->
            <li id="mobile-btn" class="mobile-btn"><a href="#">
                <img id="mobileMenuBar" src="http://igem.org/wiki/images/3/3b/Menu_icon.svg">
            </a></li>
        </ul>
    </div>

    <!-- Mobile Menu Bar -->
    <div class="mobile-menu">
        <ul class="mobile-menu-list">
        <!-- Project -->
        <li class="sub">
            <a href="javascript:void(0)" class="dropbtn">PROJECT</a>
            <ul class="child">
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Description">Description</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Design">Design</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Experiments">Experiments</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Notebook">Notebook</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/InterLab">InterLab</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Model">Model</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Results">Results</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Demonstrate">Demonstrate</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Improve">Improve</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Attributions">Attributions</a></li>
            </ul>
        </li>
        <!-- Team -->
        <li class="sub">
            <a href="javascript:void(0)" class="dropbtn">TEAM</a>
            <ul class="child">
            <li><a href='http://2018.igem.org/Team:TU-Eindhoven/Team'>Team Members</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Collaborations">Collaborations</a></li>
            </ul>
        </li>
        <!-- Parts -->
        <li class="sub">
            <a href="javascript:void(0)" class="dropbtn">PARTS</a>
            <ul class="child">
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Parts">Parts Overview</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Basic_Part">Basic Parts</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Composite_Part">Composite Parts</a></li>
            </ul>
        </li>
        <!-- Safety -->
        <li class="sub">
            <a href="http://2018.igem.org/Team:TU-Eindhoven/Safety" class="dropbtn">SAFETY</a>
        </li>
        <!-- Human Practice -->
        <li class="sub">
            <a href="javascript:void(0)" class="dropbtn">HUMAN PRACTICE</a>
            <ul class="child">
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Human_Practices">Human Practices</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Public_Engagement">Education &amp; Engagement</a></li>
            </ul>
        </li>
        <!-- Awards -->
        <li class="sub">
            <a href="javascript:void(0)" class="dropbtn">AWARDS</a>
            <ul class="child">
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Applied_Design">Applied Design</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Entrepreneurship">Entrepreneurship</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Hardware">Hardware</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Measurement">Measurement</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Model">Model</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Plant">Plant</a></li>
            <li><a href="http://2018.igem.org/Team:TU-Eindhoven/Software">Software</a></li>
            <li><a href="http://igem.org/2018_Judging_Form?team=TU-Eindhoven">JUDGING FORM ⇗</a></li>
            </ul>
        </li>
        </ul>
    </div>
</div>
<!-- Whole igem page container, closed in separate pages-->
<div class="container" id="main-container">

    <!-- content start -->
    <div class="contents row">
        <div class="relative-pos col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <div id="toc-container" class="doc-catalogue" style="display:none;">
                Life is like riding a bicycle. To keep your balance you must keep moving.
            </div>
        </div>
        <div id="docContent" class="doc-content col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
            <script>
                var bGenerateCat=true;
            </script>
            <script src="http://2018.igem.org/Team:TU-Eindhoven/D3JS?action=raw&ctype=text/javascript"></script>
            <h1>Welcome to iGEM TU Eindhoven 2018! </h1>
            <div class="sect">
            <h2>Project Description</h2>
            <p>Keywords: Living biomaterials; Ice binding protein (IBP); Wound Healing; Lysostaphin; Staphylocci</p>
            <p>Living cells can continuously monitor their microenvironment and respond to local environmental
                changes by expressing specific gene sets. This makes living cells attractive to use in small
                devices and smart materials. Bacterial cells are particularly attractive since they can be
                genetically "tailored" to produce many different types of proteins in response to almost any
                known type of chemical, physical or biological stress.</p>
            <h3>qtueopoetnx noloja  jeoirjla hkjw ajwe</h3>
            <p>Unfortunately, exploiting this potential is held back by challenges like maintaining the
                viability, functionality and safety of the living components in freestanding materials and
                devices. The bacteria can be contained in a gel, but if they leak out and escape into the
                environment they may cause major problems.</p>
            <h3>dfer  se sre s gfsesaaw</h3>
            <p>We aim to design a living material in which the bacteria are immobilized within the hydrogel
                by using an adhesive protein which originates from an Antarctic bacteria. In this way, we’ll
                create a living material that can safely be used outside of the laboratory environment.</p>
            <h3>qweazsdnhhbeduyjh eiukj huejks nkws o efrefs</h3>
            <p>We aim to apply our living material to wound healing. Wounds are prone to infections of
                pathogenic bacteria, which dramatically slow down wound healing and are increasingly
                becoming resistant to antibiotics. Bandages may prevent infections to some extent, but they
                would be much more effective if they continuously release proteins that fight pathogens.
                This is what the bacteria in our material will do. They will produce a small protein named
                lysostaphin. This is an enzyme that specifically destroys staphylococcus aureus and other
                staphylocci, which are currently the most common cause of infections in hospitalized
                patients. In this way, a wound healing hydrogel can be created. This hydrogel can be easily
                and safely applied as a patch on the skin. This way, our living material will form a
                convenient alternative to antibiotics.</p>
            </div>
            <div class="sect">
            <h2>Measurement</h2>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            <h3>qweasdf  df sdf trfghdnnmnbe e</h3>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            <h3>aeiurw qeqrejl ahxjabvzkai erwoq</h3>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>   
            </div>

            <div class="sect">
            <h2>Calibration</h2>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            <h3>aera jliaqlkjeq a znkjkaeroehaer</h3>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            <h3>jkjiejfa rekl qqer p omm jkjrijer</h3>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            </div>
            <div class="sect">
            <h2>Comparison and Improvement</h2>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            <h3>daf erije ljlwr jiwerk jkloe</h3>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>
            <h3>adfe erera dfea fedf</h3>
            <p>dja afke a ereka ereafe jrerjw que ale rjei arj aije li pizqq qpozmfjwm  kjeoif e koaejk
                efjejklad jkaf zhcmnvbzl jhua a e eioianei lknkcikl, kdijk aoieujkjzialkdjkuiuae wie als
                aeiakeru  er a iuekajr eraierla euaiqpqqerutvnghs seis eaeija ;oiejner ajeriskala apia.
            </p>    
            </div> 

    <!-- template:footer -->
        </div>
    </div>
    <!-- footer starts -->
    <div class="footer" id="footer-container">
        <div class="contact-tue">
            - facebook
            - email
            - twitter
        </div>
        <div class="sponsors-list row">
            <div class="col-xs-6 col-xl-3 col-lg-4 col-sm-6">
                <a href="https://www.microsoft.com">
                    <img class="sponsoren" src="../images/playwith/2000px-Microsoft_logo_(2012).svg.png">
                </a>
            </div>

            <div class="col-xs-6 col-xl-3 col-lg-4 col-sm-6">
                <a href="https://www.microsoft.com">
                    <img class="sponsoren" src="../images/playwith/2000px-KLM_logo.svg.png">
                </a>
            </div>

            <div class="col-xs-6 col-xl-3 col-lg-4 col-sm-6">
                <a href="https://www.microsoft.com">
                    <img class="sponsoren" src="../images/playwith/2000px-Google_2015_logo.svg.png">
                </a>
            </div>

            <div class="col-xs-6 col-xl-3 col-lg-4 col-sm-6">
                <a href="https://www.microsoft.com">
                    <img class="sponsoren" src="../images/playwith/intel.png">
                </a>
            </div>

            <div class="col-xs-6 col-xl-3 col-lg-4 col-sm-6">
                <a href="https://www.microsoft.com">
                    <img class="sponsoren" src="../images/playwith/Philips shield 2013.png">
                </a>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-4 col-sm-6">
                <a href="https://www.microsoft.com">
                    <img class="sponsoren" src="../images/playwith/huawei.png">
                </a>
            </div>
        </div>
    </div>
</div>
</html>