<html>
    <script>
        var bGenerateCat=true;
    </script>
    <script src="http://2018.igem.org/Team:TU-Eindhoven/D3JS?action=raw&ctype=text/javascript"></script>
    
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
        <div id="docJump" class="doc-catalogue">
            Life is like riding a bicycle. To keep your balance you must keep moving.
        </div>
    </div>
    <!-- close div#docContent in separate pages -->
    <div id="docContent" class="doc-content col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">

</html>
